.packages
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.gradle
.history
.history/
.idea/
*.iml
*.ipr
*.iws
.packages
.pub/
.pub-cache/
.pub/
build/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.apk
*.aab
*.ap_
*.basedex
*.class
*.dex
*.jar
*.pem
*.properties
*.txt
/local.properties
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
/packages/flutter_tools/test/data/repositories/plugin1/example/.dart_tool/
/packages/flutter_tools/test/data/repositories/plugin1/example/.packages
.idea/
*.iml
*.ipr
*.iws
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.github/
/coverage/
lib/generated_plugin_registrant.dart
.dart_tool/
.packages
pubspec.lock